# MongoDB connection string
DATABASE_URL="mongodb+srv://srohidas0:Welcome@cluster0.jtdjn.mongodb.net/business_dashboard?retryWrites=true&w=majority&appName=Cluster0"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=srohidas0@gmail.com
SMTP_PASS=aoll tosd lfnl krns
NEXT_PUBLIC_APP_URL=http://localhost:3000